:root {
  --background: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --description: hsl(220, 15%, 55%);
  --title: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);

  min-height: 100vh;
}

.card {
  background-color: var(--background);
  padding: 18px;
  max-width: 360px;
  margin: 0 1rem;
}

.card,
.card__code {
  border-radius: 17px;
}

.card__code {
  width: 100%;
}

.card__body {
  padding: 22px 10px;
}

.card__title,
.card__description {
  text-align: center;
}

.card__title {
  color: var(--title);
  padding-bottom: 15px;
}

.card__description {
  color: var(--description);
}
